*
!.gitignore
!.bashrc
!.zshrc
!.hyper.js
!.vimrc
!.tmux.conf
!.gitconfig
!.gtkrc-2.0
!.config
!.config/i3
!.config/i3/config
!.config/transmission
!.config/transmission-daemon/
!.config/transmission/settings.json
!.config/transmission-daemon/settings.json
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
