# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Solomon Broadbent
	email = solomonbroadbentnz@gmail.com
[credential]
	helper = store
[color]
	ui = auto
